<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register - QuickBite</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <header class="site-header">
      <div class="logo">
        <a href="/">
          <img
            src="{{ url_for('static', filename='QuickBite-logo.png') }}"
            alt="QuickBite Logo"
            class="logo-img"
          />
        </a>
      </div>
      <nav>
        <a href="/">Home</a>
        <a href="/menu">Menu</a>
        <a href="/cart">Cart</a>
        <a href="/login">Login</a>
      </nav>
    </header>

    <main class="login-container">
      <div class="form-box">
        <h2>Create Your Account</h2>
        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}
        <form action="/register" method="POST" class="login-form">
          <label for="username"> Username</label>
          <input
            type="text"
            id="username"
            name="username"
            placeholder="Choose a username"
            required
          />

          <label for="password"> Password</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Create a password"
            required
          />

          <label for="confirm"> Confirm Password</label>
          <input
            type="password"
            id="confirm"
            name="confirm"
            placeholder="Re-enter password"
            required
          />

          <button type="submit">Register</button>
        </form>
        <p class="switch-text">
          Already have an account? <a href="/login">Login here</a>
        </p>
      </div>
    </main>

    <footer>&copy; 2025 QuickBite. All rights reserved.</footer>
  </body>
</html>
